<div class="row">

  <div class="col-md-3">
    <h3>Users <span class="badge"><%= @statistics[:data][:user][:total] %></span></h3>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th>Total New User</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics[:data][:user][:user_register].each do |u| %>
        <tr>
          <td><%= u['month'] %></td>
          <td><%= u['total_user'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <h3>All Chat <span class="badge"><%= @statistics[:data][:chat][:all_total] %></span></h3>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th>Total New Room</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics[:data][:chat][:all].each do |u| %>
        <tr>
          <td><%= u['month'] %></td>
          <td><%= u['total'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <h3>Group Chat Only <span class="badge"><%= @statistics[:data][:chat][:group_chat_total] %></span></h3>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th>Total New Room</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics[:data][:chat][:group].each do |u| %>
        <tr>
          <td><%= u['month'] %></td>
          <td><%= u['total'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <h3>Single Chat Only <span class="badge"><%= @statistics[:data][:chat][:single_chat_total] %></span></h3>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th>Total New Room</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics[:data][:chat][:single].each do |u| %>
        <tr>
          <td><%= u['month'] %></td>
          <td><%= u['total'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>