<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:notice] %>
<div class="alert alert-warning"><%= flash[:notice] %></div>
<% end %>

<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-10"><h1><%= @user.fullname %></h1></div>
    <div class="col-sm-2"><a href="<%= @user.avatar_url %>" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="<%= @user.avatar_url %>"></a></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->
      <%= render "/dashboard/shared/users/sidebar-info" %> 
    </div><!--/col-3-->
    <div class="col-sm-9">
      <form class="form" action="/dashboard/user/profile/<%= @user.id %>/update" method="post" enctype="multipart/form-data">
        <%= render "/dashboard/shared/users/profile" %> 
      </form>

    </div><!--/tab-content-->

  </div><!--/col-9-->
</div><!--/row-->
</div> <!-- /container -->
