<% if flash[:notice] %>
<div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<div class="btn-group pull-right" role="group">
  <a href="/dashboard/super_admin/application/<%= @announcement.application.id %>/announcements" class="btn btn-primary">Back to list announcement</a>
</div>

<div class="clear"></div>
<br>
<br>

<form action="/dashboard/super_admin/application/<%= @announcement.application.id %>/announcements/<%= @announcement.id %>/update" method="post">
  <%= render "/dashboard/shared/announcements/show" %> 
</form>