<div class="row">
  <div class="col-md-12">
    <% if flash[:success] %>
      <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-warning"><%= flash[:notice] %></div>
    <% end %>
  </div>
</div>

<div class="clear"></div>
<br>
<br>

<div class="row">
  <div class="col-md-12">
    <%= render "/dashboard/shared/mobile_versions/list" %> 
  </div>
</div>

<div class="clear"></div>
<br>
<br>
<br>


<div class="row">
  <div class="col-md-12">

    <form action="/dashboard/admin/mobile_versions/<%= @application.id %>/create_or_update" method="post" class="form">
      <%= render "/dashboard/shared/mobile_versions/update" %> 
  </div>
</div>
