<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#ID</th>
      <th>User Phone Number</th>
      <th>Passcode</th>
      <th colspan="2" align="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @passcodes.each do |passcode| %>
      <tr>
        <td><%= i %></td>
        <td><%= ::User.find(passcode.user_id).phone_number %></td>
        <td><%= passcode.passcode %></td>
        <td>
          <div class="btn-group" role="group">
            <% if @path_segments[2] == "admin" %>
              <a href="/dashboard/admin/user_dedicated_passcodes/<%= passcode.id %>" class="btn btn-default">Edit</a>
              <% elsif @path_segments[2] == "super_admin" %>
                <a href="/dashboard/super_admin/application/<%= @application.id %>/user_dedicated_passcodes/<%= passcode.id %>" class="btn btn-default">Edit</a>
                <% end %>
          </div>
        </td>
        <td>
          <div class="btn-group" role="group">
            <% if @path_segments[2] == "admin" %>
              <a href="/dashboard/admin/user_dedicated_passcodes/<%= passcode.id %>/delete" class="btn btn-default" onclick="return confirm('Are you sure want to delete this passcode?')">Delete</a>
              <% elsif @path_segments[2] == "super_admin" %>
                <a href="/dashboard/super_admin/application/<%= @application.id %>/user_dedicated_passcodes/<%= passcode.id %>/delete" class="btn btn-default" onclick="return confirm('Are you sure want to delete this passcode?')">Delete</a>
              <% end %>
          </div>
        </td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>